<table
  width="100%"
  bgcolor="#e6f2ed"
  cellpadding="0"
  cellspacing="0"
  style="padding: 34px"
>
  <tr>
    <td align="center">
      <table
        width="600"
        cellpadding="0"
        cellspacing="0"
        style="border-radius: 8px"
      >
        <tr>
          <td align="center" style="padding: 20px">
            <table
              role="presentation"
              cellspacing="0"
              cellpadding="0"
              border="0"
            >
              <tr>
                <td>
                  <img
                    src="https://toss.bmark.in/assets/Logo-D-vDwq1z.png"
                    alt="Logo"
                    width="34"
                    height="34"
                  />
                </td>
                <td style="padding-left: 10px; vertical-align: middle">
                  <p style="font-size: 21px; font-weight: 800; margin: 0">
                    TOSS Academy
                  </p>
                </td>
              </tr>
            </table>
          </td>
        </tr>

        <tr>
          <td
            style="
              border-top: 3px solid #015532;
              padding: 20px;
              text-align: center;
              background: #fff;
              border-radius: 5px;
            "
          >
            <table
              role="presentation"
              width="100%"
              cellspacing="0"
              cellpadding="0"
              border="0"
            >
              <tr>
                <td align="center">
                  <img
                    style="height: 321px; width: 428px"
                    src="https://cdn-bmschool.s3.ap-south-1.amazonaws.com/paymentcollect.png"
                    alt=""
                  />
                </td>
              </tr>
              <tr>
                <td align="center">
                  <h3
                    style="
                      font-size: 34px;
                      font-weight: 700;
                      margin: 0;
                      color: #015532;
                      margin-top: 12px;
                    "
                  >
                    Payment Collected
                  </h3>
                </td>
              </tr>
              <tr>
                <td align="center">
                  <h5 style="font-size: 12px; font-weight: 700; color: #2e2e2e">
                    New Fee Payment Received
                  </h5>
                </td>
              </tr>
              <tr>
                <td align="center">
                  <p style="font-size: 12px; color: #0b0b0b; width: 427px">
                    A new fee payment has been received. Please find the details
                    below:
                  </p>
                </td>
              </tr>

              <tr>
                <td>
                  <table
                    role="presentation"
                    width="498px"
                    cellspacing="0"
                    cellpadding="0"
                    border="0"
                    align="center"
                    style="margin-top: 32px"
                  >
                    <tr>
                      <td align="left">
                        <p
                          style="
                            margin: 0;
                            font-size: 12px;
                            color: #898989;
                            font-weight: 700;
                          "
                        >
                          Student Name
                        </p>
                      </td>
                      <td align="right">
                        <p style="margin: 0; font-size: 14px; color: #015532">
                          {{username}}
                        </p>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>

              <!-- divider -->
              <!-- <tr>
                <td>
                  <table
                    role="presentation"
                    width="498px"
                    align="center"
                    cellspacing="0"
                    cellpadding="0"
                    border="0"
                  >
                    <tr>
                      <td
                        style="border-bottom: 1px solid #f3f4f4; height: 10px"
                      ></td>
                    </tr>
                  </table>
                </td>
              </tr> -->
              <!-- divider -->

              <!-- <tr>
                <td>
                  <table
                    role="presentation"
                    width="498px"
                    cellspacing="0"
                    cellpadding="0"
                    border="0"
                    align="center"
                    style="margin-top: 14px"
                  >
                    <tr>
                      <td align="left">
                        <p
                          style="
                            margin: 0;
                            font-size: 12px;
                            color: #898989;
                            font-weight: 700;
                          "
                        >
                          Payment Reference No.
                        </p>
                      </td>
                      <td align="right">
                        <p style="margin: 0; font-size: 14px; color: #015532">
                          TXN123456789
                        </p>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr> -->

              <!-- divider -->
              <tr>
                <td>
                  <table
                    role="presentation"
                    width="498px"
                    align="center"
                    cellspacing="0"
                    cellpadding="0"
                    border="0"
                  >
                    <tr>
                      <td
                        style="border-bottom: 1px solid #f3f4f4; height: 10px"
                      ></td>
                    </tr>
                  </table>
                </td>
              </tr>
              <!-- divider -->

              <tr>
                <td>
                  <table
                    role="presentation"
                    width="498px"
                    cellspacing="0"
                    cellpadding="0"
                    border="0"
                    align="center"
                    style="margin-top: 14px"
                  >
                    <tr>
                      <td align="left">
                        <p
                          style="
                            margin: 0;
                            font-size: 12px;
                            color: #898989;
                            font-weight: 700;
                          "
                        >
                          Subscription Plan
                        </p>
                      </td>
                      <td align="right">
                        <p style="margin: 0; font-size: 14px; color: #015532">
                          {{plan_name}}
                        </p>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>

              <!-- divider -->
              <tr>
                <td>
                  <table
                    role="presentation"
                    width="498px"
                    align="center"
                    cellspacing="0"
                    cellpadding="0"
                    border="0"
                  >
                    <tr>
                      <td
                        style="border-bottom: 1px solid #f3f4f4; height: 10px"
                      ></td>
                    </tr>
                  </table>
                </td>
              </tr>
              <!-- divider -->

              <tr>
                <td>
                  <table
                    role="presentation"
                    width="498px"
                    cellspacing="0"
                    cellpadding="0"
                    border="0"
                    align="center"
                    style="margin-top: 14px"
                  >
                    <tr>
                      <td align="left">
                        <p
                          style="
                            margin: 0;
                            font-size: 12px;
                            color: #898989;
                            font-weight: 700;
                          "
                        >
                          Amount Paid
                        </p>
                      </td>
                      <td align="right">
                        <p style="margin: 0; font-size: 14px; color: #015532">
                          ₹{{amount}}
                        </p>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>

              <!-- divider -->
              <tr>
                <td>
                  <table
                    role="presentation"
                    width="498px"
                    align="center"
                    cellspacing="0"
                    cellpadding="0"
                    border="0"
                  >
                    <tr>
                      <td
                        style="border-bottom: 1px solid #f3f4f4; height: 10px"
                      ></td>
                    </tr>
                  </table>
                </td>
              </tr>
              <!-- divider -->

              <tr>
                <td>
                  <table
                    role="presentation"
                    width="498px"
                    cellspacing="0"
                    cellpadding="0"
                    border="0"
                    align="center"
                    style="margin-top: 14px"
                  >
                    <tr>
                      <td align="left">
                        <p
                          style="
                            margin: 0;
                            font-size: 12px;
                            color: #898989;
                            font-weight: 700;
                          "
                        >
                          Payment Method
                        </p>
                      </td>
                      <td align="right">
                        <p style="margin: 0; font-size: 14px; color: #015532">
                          {{payment_method}}
                        </p>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>

              <!-- divider -->
              <tr>
                <td>
                  <table
                    role="presentation"
                    width="498px"
                    align="center"
                    cellspacing="0"
                    cellpadding="0"
                    border="0"
                  >
                    <tr>
                      <td
                        style="border-bottom: 1px solid #f3f4f4; height: 10px"
                      ></td>
                    </tr>
                  </table>
                </td>
              </tr>
              <!-- divider -->

              <tr>
                <td>
                  <table
                    role="presentation"
                    width="498px"
                    cellspacing="0"
                    cellpadding="0"
                    border="0"
                    align="center"
                    style="margin-top: 14px"
                  >
                    <tr>
                      <td align="left">
                        <p
                          style="
                            margin: 0;
                            font-size: 12px;
                            color: #898989;
                            font-weight: 700;
                          "
                        >
                          Fee Period
                        </p>
                      </td>
                      <td align="right">
                        <p style="margin: 0; font-size: 14px; color: #015532">
                          {{fee_period}}
                        </p>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>

              <tr>
                <td align="center">
                  <p
                    style="
                      font-size: 12px;
                      margin-top: 32px;
                      color: #898989;
                      width: 427px;
                    "
                  >
                    Kindly verify the transaction and update the records
                    accordingly. If any discrepancies arise, please reach out to
                    the finance team
                  </p>
                </td>
              </tr>

              <tr>
                <td align="center">
                  <p
                    style="
                      font-size: 12px;
                      margin: 10px 0;
                      color: #898989;
                      width: 427px;
                    "
                  >
                    Keep striving, keep learning, and make every day count! 🏸
                  </p>
                </td>
              </tr>
            </table>
          </td>
        </tr>

        <tr>
          <td align="center" style="padding: 20px">
            <img
              src="https://toss.bmark.in/assets/Logo-D-vDwq1z.png"
              alt="Logo"
              width="34"
              height="34"
              style="
                border-radius: 3px;
                border: 0.816px solid #e6f2ed;
                background: #fff;
              "
            />
            <p
              style="
                font-size: 14px;
                font-weight: 500;
                color: #345258;
                margin: 10px 0;
              "
            >
              You can also find us on
            </p>
            <div>
              <a href=""
                ><img
                  src="https://cdn-bmschool.s3.ap-south-1.amazonaws.com/toss_fb.png"
                  alt=""
                  width="14"
                  height="14"
              /></a>
              <!-- <a href=""
                ><img
                  src="https://cdn-bmschool.s3.ap-south-1.amazonaws.com/toss_twitter.png"
                  alt=""
                  width="14"
                  height="14"
              /></a> -->
              <!-- <a href=""
                ><img
                  src="https://cdn-bmschool.s3.ap-south-1.amazonaws.com/toss_linkedin.png"
                  alt=""
                  width="14"
                  height="14"
              /></a> -->
              <a href=""
                ><img
                  src="https://cdn-bmschool.s3.ap-south-1.amazonaws.com/toss_youtube.png"
                  alt=""
                  width="14"
                  height="14"
              /></a>
              <a href=""
                ><img
                  src="https://cdn-bmschool.s3.ap-south-1.amazonaws.com/toss_insta.png"
                  alt=""
                  width="14"
                  height="14"
              /></a>
            </div>
            <p
              style="
                font-size: 14px;
                font-weight: 500;
                color: #345258;
                margin: 0;
              "
            >
              TOSS Academy, Kallattumukku, Manacaud PO, Trivandrum, Kerala
              695009.
            </p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
