<table
  width="100%"
  bgcolor="#e6f2ed"
  cellpadding="0"
  cellspacing="0"
  style="padding: 34px"
>
  <tr>
    <td align="center">
      <table
        width="600"
        cellpadding="0"
        cellspacing="0"
        style="border-radius: 8px"
      >
        <tr>
          <td align="center" style="padding: 20px">
            <table
              role="presentation"
              cellspacing="0"
              cellpadding="0"
              border="0"
            >
              <tr>
                <td>
                  <img
                    src="https://toss.bmark.in/assets/Logo-D-vDwq1z.png"
                    alt="Logo"
                    width="34"
                    height="34"
                  />
                </td>
                <td style="padding-left: 10px; vertical-align: middle">
                  <p style="font-size: 21px; font-weight: 800; margin: 0">
                    TOSS Academy
                  </p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td
            style="
              border-top: 3px solid #015532;
              padding: 20px;
              text-align: center;
              background: #fff;
            "
          >
            <img
              style="height: 250px; width: 250px"
              src="https://cdn-bmschool.s3.ap-south-1.amazonaws.com/toss_logo.png"
              alt=""
            />
            <h3
              style="font-size: 20px; font-weight: 700; margin: 0; color: #000"
            >
              Reset Your Password – TOSS Academy
            </h3>
            <h5
              style="
                font-size: 16px;
                font-weight: 700;
                color: #015532;
                margin: 10px 0;
              "
            >
              Hi {{username}},
            </h5>
            <p style="font-size: 12px; margin: 10px 0; color: #000">
              We received a request to reset your password for your TOSS Academy
              account. If you didn’t make this request, you can safely ignore
              this email. To reset your password, click the button below:
            </p>
            <a
              href="{{resetLink}}"
              style="font-size: 14px; color: #015532; display: inline-block"
              >{{resetLinkshort}}</a
            >
            <p style="font-size: 12px; margin: 10px 0; color: #000">
              This temporary password will expire in 15 minutes. If you didn’t
              request this, please contact our support team.
            </p>
            <p style="font-size: 12px; margin: 10px 0; color: #000">
              Stay active and keep smashing those goals! 🏸
            </p>
          </td>
        </tr>
        <tr>
          <td align="center" style="padding: 20px">
            <img
              src="https://toss.bmark.in/assets/Logo-D-vDwq1z.png"
              alt="Logo"
              width="34"
              height="34"
              style="
                border-radius: 3px;
                border: 0.816px solid #e6f2ed;
                background: #fff;
              "
            />
            <p
              style="
                font-size: 14px;
                font-weight: 500;
                color: #345258;
                margin: 10px 0;
              "
            >
              You can also find us on
            </p>
            <div>
              <a href=""
                ><img
                  src="https://cdn-bmschool.s3.ap-south-1.amazonaws.com/toss_fb.png"
                  alt=""
                  width="14"
                  height="14"
              /></a>
              <!-- <a href=""
                ><img
                  src="https://cdn-bmschool.s3.ap-south-1.amazonaws.com/toss_twitter.png"
                  alt=""
                  width="14"
                  height="14"
              /></a> -->
              <!-- <a href=""
                ><img
                  src="https://cdn-bmschool.s3.ap-south-1.amazonaws.com/toss_linkedin.png"
                  alt=""
                  width="14"
                  height="14"
              /></a> -->
              <a href=""
                ><img
                  src="https://cdn-bmschool.s3.ap-south-1.amazonaws.com/toss_youtube.png"
                  alt=""
                  width="14"
                  height="14"
              /></a>
              <a href=""
                ><img
                  src="https://cdn-bmschool.s3.ap-south-1.amazonaws.com/toss_insta.png"
                  alt=""
                  width="14"
                  height="14"
              /></a>
            </div>
            <p
              style="
                font-size: 14px;
                font-weight: 500;
                color: #345258;
                margin: 0;
              "
            >
              TOSS Academy, Kallattumukku, Manacaud PO, Trivandrum, Kerala
              695009.
            </p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
