<!-- <div
  style="
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: rgb(229, 229, 229);
  "
>
  <table
    width="100%"
    cellspacing="0"
    cellpadding="0"
    border="0"
    role="presentation"
  >
    <tbody>
      <tr>
        <td
          align="center"
          style="
            padding-left: 8px;
            padding-right: 8px;
            padding-top: 32px;
            background-color: rgb(229, 229, 229);
          "
        >
          <table
            width="100%"
            cellspacing="0"
            cellpadding="0"
            border="0"
            role="presentation"
            style="
              max-width: 800px;
              margin: 0px auto;
              border-left-width: 1px;
              border-left-style: solid;
              border-right-width: 1px;
              border-right-style: solid;
              border-top-width: 1px;
              border-top-style: solid;
              border-top-color: rgba(0, 0, 0, 0.1);
              border-right-color: rgba(0, 0, 0, 0.1);
              border-left-color: rgba(0, 0, 0, 0.1);
            "
          >
            <tbody>
              <tr>
                <td
                  align="center"
                  style="
                    font-size: 0px;
                    vertical-align: top;
                    border-radius: 0px;
                    padding-left: 16px;
                    padding-right: 16px;
                    padding-bottom: 24px;
                    background-color: #16a34a;
                  "
                >
                  <div
                    style="
                      display: inline-block;
                      vertical-align: top;
                      width: 100%;
                    "
                  >
                    <div
                      style="font-size: 48px; line-height: 48px; height: 48px"
                    >
                      &nbsp;
                    </div>
                    <div
                      style="
                        font-family: Roboto, Helvetica, Arial, sans-serif;
                        margin-top: 0px;
                        margin-bottom: 0px;
                        font-size: 16px;
                        line-height: 24px;
                        text-align: left;
                        padding-left: 8px;
                        padding-right: 8px;
                      "
                    >
                      <p
                        style="
                          margin-top: 0px;
                          margin-bottom: 0px;
                          font-family: Roboto, Helvetica, Arial, sans-serif;
                        "
                      >
                        <img
                          src="https://nims4000.educore.guru/uploads/exammaker/qb/file_1735636553458.png"
                          width="136"
                          height="36"
                          alt="jvtfarm"
                          style="
                            max-width: 80px;
                            vertical-align: middle;
                            border: 0px;
                            line-height: 100%;
                            height: auto;
                            outline: none;
                            text-decoration: none;
                            font-family: Roboto, Helvetica, Arial, sans-serif;
                          "
                          class="CToWUd"
                        />
                      </p>
                    </div>
                  </div>

                  <div
                    style="
                      display: inline-block;
                      vertical-align: top;
                      width: 100%;
                      max-width: 400px;
                    "
                  >
                    <div
                      style="font-size: 24px; line-height: 24px; height: 24px"
                    >
                      &nbsp;
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>

  <table
    width="100%"
    cellspacing="0"
    cellpadding="0"
    border="0"
    role="presentation"
  >
    <tbody>
      <tr>
        <td
          align="center"
          style="
            padding-left: 8px;
            padding-right: 8px;
            background-color: rgb(229, 229, 229);
          "
        >
          <table
            width="100%"
            cellspacing="0"
            cellpadding="0"
            border="0"
            role="presentation"
            style="
              max-width: 800px;
              margin: 0px auto;
              border-left-width: 1px;
              border-left-style: solid;
              border-right-width: 1px;
              border-right-style: solid;
              border-right-color: rgba(0, 0, 0, 0.1);
              border-left-color: rgba(0, 0, 0, 0.1);
            "
          >
            <tbody>
              <tr>
                <td
                  style="
                    font-size: 24px;
                    line-height: 24px;
                    height: 24px;
                    background-color: rgb(255, 255, 255);
                  "
                >
                  &nbsp;
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>

  <table
    width="100%"
    cellspacing="0"
    cellpadding="0"
    border="0"
    role="presentation"
  >
    <tbody>
      <tr>
        <td
          align="center"
          style="
            padding-left: 8px;
            padding-right: 8px;
            background-color: rgb(229, 229, 229);
          "
        >
          <table
            width="100%"
            cellspacing="0"
            cellpadding="0"
            border="0"
            role="presentation"
            style="
              max-width: 800px;
              margin: 0px auto;
              border-left-width: 1px;
              border-left-style: solid;
              border-right-width: 1px;
              border-right-style: solid;
              border-right-color: rgba(0, 0, 0, 0.1);
              border-left-color: rgba(0, 0, 0, 0.1);
            "
          >
            <tbody>
              <tr>
                <td
                  align="center"
                  style="
                    padding: 16px 24px;
                    text-align: left;
                    background-color: rgb(255, 255, 255);
                  "
                >
                  <div
                    style="
                      font-family: Roboto, Helvetica, Arial, sans-serif;
                      margin-top: 0px;
                      margin-bottom: 0px;
                      font-size: 16px;
                      line-height: 24px;
                      max-width: 584px;
                      color: rgb(66, 70, 81);
                    "
                  >
                    <p
                      style="
                        margin-top: 0px;
                        margin-bottom: 24px;
                        font-size: 16px;
                        line-height: 134.3%;
                        font-family: monospace;
                        color: rgb(0, 0, 0);
                      "
                    >
                      Hi {{username}}, <br />
                      Your account is created in JVT Farm.<br /><br />
                      Please find the login details Below : <br />
                      Username : {{email}} <br />
                      Password : {{password}}
                    </p>

                    <table
                      align="center"
                      cellspacing="0"
                      cellpadding="0"
                      border="0"
                      role="presentation"
                      style="
                        margin: 0px;
                        font-family: Roboto, Helvetica, Arial, sans-serif;
                      "
                    >
                      <tbody
                        style="
                          font-family: Roboto, Helvetica, Arial, sans-serif;
                        "
                      >
                        <tr
                          style="
                            font-family: Roboto, Helvetica, Arial, sans-serif;
                          "
                        >
                          <td
                            width="300"
                            align="center"
                            style="
                              font-family: Roboto, Helvetica, Arial, sans-serif;
                              font-weight: bold;
                              margin-top: 0px;
                              margin-bottom: 0px;
                              font-size: 16px;
                              line-height: 24px;
                              border-radius: 3px;
                              background-color: #16a34a;
                            "
                          >
                            <a
                              href={{path}}
                              style="
                                text-decoration: none;
                                outline: none;
                                display: block;
                                padding: 12px 24px;
                                font-family: Roboto, Helvetica, Arial,
                                  sans-serif;
                                color: rgb(255, 255, 255);
                              "
                              target="_blank"
                              data-saferedirecturl=""
                              >Login</a
                            >
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div
                    style="
                      font-size: 10px;
                      line-height: 14px;
                      height: 53px;
                      margin-top: 13px;
                      margin-bottom: 15px;
                      font-family: monospace;
                    "
                  >
                    When it comes to browsing the web, we highly recommend using
                    a web browser on a desktop or laptop rather than relying
                    solely on your mobile screen. While mobile devices are
                    convenient for on-the-go browsing, a larger screen allows
                    for a better overall experience
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div> -->

<style>
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f9;
    margin: 0;
    padding: 20px;
  }
  .container {
    max-width: 600px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  h1 {
    color: #007bff;
  }
  p {
    margin: 10px 0;
  }
  .footer {
    margin-top: 20px;
    font-size: 0.9em;
    color: #666;
  }
</style>
<div class="container">
  <h1>Account Created Successfully!</h1>
  <p>Hello,</p>
  <p>
    We are excited to inform you that your account has been created. You can log
    in using the following credentials:
  </p>
  <p><strong>Email ID:</strong> {{email}}</p>
  <p><strong>Password:</strong> {{password}}</p>
  <p>
    Please make sure to change your password after logging in for the first
    time.
  </p>
  <div class="footer">
    <p>If you have any questions, feel free to contact our support team.</p>
    <p>Thank you!</p>
  </div>
</div>
